/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.home
  text-align center

.home .hero img
  max-width 450px !important
  margin 2rem auto !important

.home .action-button
  display inline-block
  box-sizing border-box
  font-size 1.1rem
  padding 0.8rem 1.6rem
  margin 0 1rem 1rem
  border-radius 4px
  transition background-color 0.1s ease
  color #fff
  background-color $accentColor

.home .user-types
  display flex
  flex-wrap wrap
  align-items flex-start
  align-content stretch
  justify-content space-between
  padding 2.5rem 0
  margin 0
  border-top: 1px solid #eaecef;
  text-align left

.home .user-type
  flex-grow 1
  flex-basis 25%
  max-width 25%
  padding-bottom 2.5rem
  text-align center

.home .user-type h2
  font-size 1.4rem
  font-weight 500
  border-bottom: none
  padding-bottom 0
  color #3a5169

.home .user-type p
  font-size 0.85rem
  font-weight normal
  padding 0 0.5rem

.home .features
  padding 2.5rem 0 !important
  margin 0 !important
  border-bottom 1px solid #eee
  text-align left

.home .feature
  padding-bottom 2.5rem !important

.page-edit
  clear both

.navbar
.sidebar
.page-edit
.page-nav
.header-anchor
.badge
  user-select: none;

a.sidebar-link:hover
a.sidebar-link.active
  background-color: #fdf6f8;
