/**
 * Custom Styles here.
 *
 * ref: https://v1.vuepress.vuejs.org/config/#index-styl
 */

body
  font-family "DM Sans"

h1
h2
h3
h4
h5
h6
	font-family "ivar text"

.page-edit
  clear both

.navbar
.sidebar
.page-edit
.page-nav
.header-anchor
.badge
  user-select none

a.sidebar-link:hover
a.sidebar-link.active
  background-color #fdf6f8



// Header

#app .navbar .logo
  margin-right 5px



// Navigation

@media (min-width: 719px)

  #app
    .navbar
      display flex

    .navbar .links
      position unset
      padding-left 2.325rem

    .nav-item > a:not(.external):hover
    .nav-item > a:not(.external).router-link-active
      border-bottom 0

    .nav-dropdown
      background #FFF
      padding 32px 0
      border 1px solid #000
      border-radius 16px
      box-shadow 3px 4px 0px #000

      .dropdown-item
        padding 0 32px

        &:not(:first-of-type)
          padding-top 16px

        h4
          padding 0
          font-size 1.125rem
          line-height 2rem

        a
          display flex
          justify-content space-between
          align-items center
          padding 0
          font-size 0.875rem
          font-weight 500
          line-height 1.5rem
          border-bottom 2px solid transparent

          &:after
            content " "
            display inline-block
            margin-left 64px
            background-image url(/assets/img/home/arrow-right.svg)
            background-position center center
            background-size contain
            background-repeat no-repeat
            width 18px
            height 24px
            color #ff3700
            transition-duration 0.3s

          &:hover
          &:focus
            color currentColor
            border-color #000

            &:after
              transform translateX(8px)

@media (max-width: 720px)

  #app
    .sidebar .nav-links .nav-item,
    .dropdown-wrapper .mobile-dropdown-title .title
    .sidebar .nav-links .repo-link
      font-weight 600
      font-size 16.5px
      line-height 25px
      font-style normal
      font-variant-caps normal
      font-variant-east-asian normal
      font-variant-ligatures normal
      font-variant-numeric normal

    .sidebar .nav-links .nav-item
    .sidebar .nav-links .repo-link
      padding-top 8px
      padding-bottom 8px



// Home

div.docs-home
  main
    padding-bottom 0

    .content__default
      padding-left 0
      padding-right 0
      padding-top 0

    div.content__default
    footer.page-edit
    div.page-nav
      max-width 100%

    footer.page-edit
    .last-updated
      display none

    a
      cursor pointer

    div.roof
      font-weight bold
      font-size 16px
      line-height 1.1
      letter-spacing 0.06em
      text-transform uppercase
      margin-bottom 8px

    #home-hero
      background-color #483082
      color #fff
      text-align center
      padding 80px 1.5rem

      h2
        font-weight bold
        font-size 72px
        line-height 1
        margin 0
        border 0

      p
        font-size 18px
        line-height 1.5
        border 0
        max-width 900px
        margin 1rem auto 2rem

      .cta
        width 300px
        margin 0 auto
        display flex
        justify-content space-between

      a
        display inline-block
        padding 12px 24px
        text-decoration none

        &.primary
          background-color #ff7be5
          border 1px solid #ff7be5
          color #05047E

        &.secondary
          background-color #483082
          border 1px solid #ff7be5
          color #ff7be5

      a.primary:hover
      a.primary:focus
        background-color #483082
        color #ff7be5

      a.secondary:hover
      a.secondary:focus
        background-color #ff7be5
        color #05047E

    #home-internals
      background-color #fff
      color #000
      text-align center
      padding 80px 1.5rem

      h2
        font-weight bold
        font-size 48px
        line-height 1
        margin 0 0 80px
        border 0

      .home-internals-list
        display grid
        gap 24px
        grid-template-columns repeat(3, 1fr)
        max-width 1400px
        margin 0 auto
        text-align left

        .internal
          background-color #eae7ff
          border 1px solid #eae7ff
          padding 24px

          h3
            font-size 20px
            font-weight bold
            line-height 1
            text-transform capitalize
            margin-top 0

            a
              color #000
              font-weight 600
              text-decoration none

          p
            font-size 14px
            line-height 1.5
            color #212121

          .more-link
              margin-top 44px

              a
                color #05047E
                font-size 16px
                font-weight bold

              a:after
                content " "
                display inline-block
                margin-left 12px
                vertical-align middle
                background-image url(/assets/img/home/arrow-right.svg)
                background-position center center
                background-size contain
                background-repeat no-repeat
                width 12px
                height 24px

              a:hover
              a:focus
                text-decoration none

        .internal:hover
        .internal:focus
          border-color #000

    #home-components
      background-color #ffc5f3
      color #000
      text-align center
      padding 80px 1.5rem

      h2
        font-weight bold
        font-size 48px
        line-height 1.1
        margin 0 0 80px
        border 0

      .home-components-list
        display grid
        gap 24px
        grid-template-columns repeat(3, 1fr)
        max-width 1400px
        margin 0 auto
        text-align left

        .component
          background-color #fff
          border 1px solid #fff
          padding 24px

          h3
            font-weight 600
            font-size 16px
            line-height 1
            text-transform capitalize
            margin-top 0

            a
              color #000
              text-decoration none

          p
            font-size 14px
            line-height 1.5
            color #212121

        .component:hover
        .component:focus
          border-color #000

    #home-testimonials
      background-color #fff
      color #000
      text-align center
      padding 80px 1.5rem

      h2
        font-weight bold
        font-size 48px
        line-height 1
        margin 0 0 80px
        border 0

      .home-testimonials-list
        display grid
        gap 24px
        grid-template-columns repeat(3, 1fr)
        max-width 1400px
        margin 0 auto
        text-align left

        .testimonial
          display flex
          flex-direction column
          justify-content space-between
          align-items flex-start
          min-height 600px
          padding 40px 31px
          border 1px solid #d2d2d2
          box-sizing border-box
          border-radius 8px

          .metric
            font-weight bold
            font-size 16px
            line-height 1.6
            letter-spacing 0.02em
            text-transform uppercase
            color #000
            margin-bottom 16px

          blockquote          
            font-size 24px
            line-height 1.68
            letter-spacing -0.04em
            color #2B2A34
            border 0
            padding 0
            margin 0
            flex-grow 1
            flex-shrink 1

          p
            font-size 14px
            line-height 1.5
            color #212121
            margin 0

          .name
            font-weight 600
            font-size 22px
            line-height 1.6
            align-self center

          .position
            font-size 16px
            line-height 1.6
            align-self center

    #home-blog
      background-color #fff
      color #000
      text-align center
      padding 80px 1.5rem

      h2
        font-weight bold
        font-size 48px
        line-height 1
        margin 0 0 80px
        border 0

      .home-blog-list
        display grid
        gap 2px
        grid-template-columns repeat(3, 1fr)
        max-width 1400px
        margin 0 auto
        text-align left

        .blog-post
          border 1px solid #fff
          padding 11px

          .post-image
            width 100%
            aspect-ratio 16 / 9
            margin-bottom 20px

          .post-info
            margin 0 0 5px

          .post-title
          .post-title a
            color #000
            margin 0 0 10px
            text-decoration none

        .blog-post:hover
        .blog-post:focus
          border-color #000

      a.blog
        display inline-block
        margin-top 80px
        background-color #fff
        color #ff3700
        padding 15px 70px
        text-decoration none
        border 1.5px solid #ff3700

      a.blog:hover
      a.blog:focus
        background-color #ff3700
        color #fff

/* Tablet */

@media (max-width: 720px)
  div.docs-home main

    .content__default
      padding-left 0
      padding-right 0
      padding-top 0

    #home-hero
      padding 64px 1.5rem

      h2
        font-size 40px

    #home-internals
      padding 64px 1.5rem

      h2
        font-size 28px
        margin 0 0 40px

      .home-internals-list
        gap 20px
        grid-template-columns repeat(2, 1fr)

    #home-components
      padding 64px 1.5rem

      h2
        font-size 28px
        margin 0 0 40px

      .home-components-list
        gap 20px
        grid-template-columns repeat(2, 1fr)

    #home-testimonials
      padding 64px 1.5rem

      h2
        font-size 28px
        margin 0 0 40px

      .home-testimonials-list
        gap 20px
        grid-template-columns repeat(2, 1fr)

        .testimonial
          padding 20px

    #home-blog
      padding 64px 1.5rem

      h2
        font-size 28px
        margin 0 0 40px

      .home-blog-list
        gap 20px
        grid-template-columns repeat(2, 1fr)

/* Mobile */

@media (max-width: 360px)
  div.docs-home main

    #home-hero
      padding 32px 1.5rem

    #home-internals
      padding 32px 1.5rem

      .home-internals-list
        gap 16px
        grid-template-columns 1fr

    #home-components
      padding 32px 1.5rem

      .home-components-list
        gap 16px
        grid-template-columns 1fr

    #home-testimonials
      padding 32px 1.5rem

      .home-testimonials-list
        gap 16px
        grid-template-columns 1fr

    #home-blog
      padding 32px 1.5rem

      .home-blog-list
        gap 16px
        grid-template-columns 1fr

/* Font */

@font-face {
	font-family: "ivar text";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(https://elementor.com/wp-content/uploads/2020/05/IvarText-Bold.eot);
	src: url(https://elementor.com/wp-content/uploads/2020/05/IvarText-Bold.eot?#iefix) format('embedded-opentype'), url(https://elementor.com/wp-content/uploads/2020/05/IvarText-Bold.woff2) format('woff2'), url(https://elementor.com/wp-content/uploads/2020/05/IvarText-Bold.woff) format('woff'), url(https://elementor.com/wp-content/uploads/2020/05/IvarText-Bold.ttf) format('truetype'), url(https://elementor.com/wp-content/uploads/2020/05/IvarText-Bold.svg#IvarText) format('svg');
}
