name: Build and Deploy (Dispatch)
on:
 push:
   branches:
     - master

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout this repo
        uses: actions/checkout@v2
      - name: Build npm
        run: |
          export NODE_OPTIONS=--openssl-legacy-provider
          yarn
          yarn run build
  RepoAjobs:
    runs-on: ubuntu-latest
    needs: Build
    steps:
      - name: send dispatch
        uses: peter-evans/repository-dispatch@v1
        with:
          token: ${{ secrets.DEVOPS_TOKEN  }}
          repository: ${{ secrets.dispatch_repo }}
          event-type: release
